name: Push to GitHub Pages on push to master
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1

      - name: Deploy the site
        uses: benmatselby/hugo-deploy-gh-pages@master
        env:
          HUGO_VERSION: 0.82.0
          TARGET_REPO: puddlpool/puddlpool.github.io
          TARGET_BRANCH: main
          TOKEN: ${{ secrets.TOKEN }}
          #HUGO_ARGS: '-t academic'
          CNAME: puddlpool.github.io